
.content {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 50vh 50vh;
}

@font-face {
    font-family: "Bauhaus 93";
    src: url("../BAUHS93.TTF");
}

body {
    background-color: rgb(38, 37, 37);
}

* {
    font-family: "Bauhaus 93";

}

.info {
    transition: 500ms linear;
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    color: #23700c;
    font-size: 140%;
    justify-content: space-evenly;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 150px;
    margin-right: 50px;
}

.info:hover {
    transition: 500ms linear;
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    color: #44ff04;
    font-size: 140%;
    justify-content: space-evenly;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 150px;
    margin-right: 50px;

}

.name {
    transition: 500ms linear;
    text-align: left;
    color: #23700c;
    font-size: 280%;
    font-style: oblique;
    grid-row: 1;
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 60%;
    padding-bottom: 20%;


}

.name:hover {
    transition: 500ms linear;
    text-align: left;
    color: #44ff04;
    font-size: 300%;
    font-style: oblique;
    grid-row: 1/2;
    grid-column: 2/3;

}


.photo img {
    border-radius: 50%;
    width: 200px;
    transition: transform .1s;
    box-shadow: 15px 15px 15px #000000;
}

.photo img:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}


.photo {
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 60%;
    padding-bottom: 20%;
}

.map {
    grid-row: 2/3;
    grid-column: 2/3;
}

.logo {
    grid-row: 2/3;
    grid-column: 2/3;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 55px;
    height: 55px;
    margin-top: 40%;
    margin-left: 80%;

}


